/* Wrap the text in the table if it is too long (i.e. split long text in a table into multiple lines) */
.wy-table-responsive table td,
.wy-table-responsive table th {
  white-space: normal;
}

/* remove below; doesn't work */
.wy-table-responsive {
    margin-bottom: 0;
    overflow: visible;
}

table.line-block {
    margin-bottom: 0;
}