:root {
--tabs-color-label-active: rgb(59, 129, 187);
--tabs-color-label-inactive: rgba(116, 176, 224, 0.7);
--tabs-color-overline: rgb(232, 242, 250);
--tabs-color-underline: rgb(232, 242, 250);
--tabs-size-label: 1rem;
}